@font-face {
    font-family: D-DINExp-Bold;
    src: url(https://supraboy981322.github.io/styles/fonts/D-DINExp-Bold.otf);
}

* {
    transition: 0.25s;
}

body {
    font-family: D-DINExp-Bold;
    padding: 0px;
    margin: 0px;
    background-color: #c9ffff;
    color: #c9ffff;
    transition: 0.25s;
    overflow: hidden;
}

#viewport {
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 200vh;
}

#questionTopBar {
    background-color: #0094ff;
    margin: 1vw 1vw -1vw 1vw/*-25px 0px -20px 0px*/;
    border-radius: 0.5em;
    padding: 0vw  1vw 0px 1vw;
    font-size: 2vh;
    height: 3.5vh;
    overflow-y: hidden;
}

#questionTopBar p {
    margin-top: 0.3vw;
}

.qNum {
    padding-top: 0.109375em;
    float: right;
}

#question {
    height: 46vh;
    margin-top: 2.5vh;
    color: #0094ff;
    float: none;
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    width: 100vw;
    text-align: center;
    align-items: center;
    font-size: 5vh;
    margin-left: auto;
    margin-right: auto;
}

#answerOptions {
    height: 50vh;
    width: 100vw;
    margin: 0px;
    margin-top: -1vw;
}

#answerOptions div {
    background-color: #0094ff;
    width: 40%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 3vh;
    cursor: pointer;
}

#answerOptions .left {
    margin-left: 9vw;
    border-radius: 10em 5em 5em 10em;
}

#answerOptions .bottom {
    margin-top: 2.5vh;
}

#answerOptions .top {
    margin-bottom: 2.5vh;
}

#answerOptions .right {
    margin-right: 9vw;
    border-radius: 5em 9em 9em 5em;
}

.productName {
    margin-top: 0.109375em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.top {
    margin-top: 5vh;
}

.bottom {
    margin-bottom:  5vh;
}

#congrats {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.studioName {
    color: #ff6969;
    background-color: #ffdb99;
    padding:500vh 0.2vw 0vh 0.25vw;
    border-radius:1vh;
    padding-right: 0.146vw;
    padding-bottom: 0.2vw;
    font-weight: bold;
    padding-left: 0.4vw;
}

.studioName i {
    background-color:#ff6969;
    color:#ffdb99;
    border-radius:0.8vh;
    padding:2vw 0.5vw 0vw 0.5vw;
    font-size:2vh;
    padding-bottom: 0vw;
}

@media (min-width: 721px) {}

@media (max-width: 720px) {}