body {
  margin: 0% 0px;
  background-image: url('https://cdn.wallpaperhub.app/cloudcache/d/8/b/8/1/5/d8b815377a7beec652aca711aec972d2876fcaca.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920% 1080%;
  font-weight: bold;
}

.main {
  padding: 2%;
  margin-bottom: 30px;
  margin-top: 25%;
}

#boxes {
  content: "";
  display: table;
  clear: both;
  width: 99.5%;
  margin: 0px;
}

.column {
  float: left;
  padding: 0px 2%;
  box-align: center;
  height: 150px;
}

#column2 {
  background-color: rgba(138, 228, 255, 0.55);
  border-radius: 14px;
  margin-right: 2.5%;
  width: 42%;
}

#column1 {
  margin: 0px 2.5%;
  width: 42%;
  background-color: rgba(200, 230, 255, 0.50);
  backdrop-filter: blur(3px);
  border-radius: 14px;
}

.column h2 {
  color: #000000;
  text-align: center;
}

#columnThing {
  background-color: rgba(255, 200, 200, 0.5);
  border-radius: 14px;
  backdrop-filter: blur(3px);
}

.blurBack {
  float: left;
  margin: 2% 2%;
  width: 1860px;
  background-color: rgba(200, 230, 255, 0.50);
  backdrop-filter: blur(3px);
  ;
  border-radius: 14px;
  height: 1000px;
}