/* dark grey */
/*  Blue   */
/* Light Blue */
/* Deep Blue*/
/*  White  */
/*  #4c566a  */
/* #87bdff */
/*   #c9ffff  */
/*  #0094ff */
/* #eceff4 */

.sidenav {
    background-color: #c9ffff;
    color: #eceff4;
}

.sidenav a {
    color: #4c566a;
}

.sidenav a:hover {
    color: #0094ff;
}

.sidenav .closebtn:hover {
    color: #0094ff;
}

.sidenav .closebtn {
    color: #4c566a;
}

@media screen and (max-height: 450px) {
    .sidenav {
        color: #eceff4;
    }

    .sidenav a {
        color: #eceff4;
    }
}

.sidenav h1 {
    color: purple;
}

#sidebarButton {
    background: #4c566a;
    color: #c9ffff;
}

#sidebarButton:hover {
    background: #c9ffff;
    color: #4c566a;
    border: 0.25em solid #4c566a;
}