html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
}

.main {
  padding-top: 42px;
}

body {
  background-image: url('/embeded-content/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: right;
}

.textBox {
  background: rgba(255,255,255,0.40);
  backdrop-filter: blur(3px);  
  border-radius: 14px;
  margin: 20px;
  border-radius: 25px;
  padding: 10px;
}

.textBox h2 {
  background: rgba(192,243,252,0.1);
  backdrop-filter: blur(3px);  
  border-radius: 14px;
  border-radius: 25px;
  color: red;
  text-align: center;
  border-radius: 25px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 12px;
}

.textBox p {
  text-align:center;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight:bold;
}

.pageTitle {
  text-align: center;
  background: rgba(192, 243, 252, 0.55);
  backdrop-filter: blur(3px);
  overflow: hidden;
  border-radius: 14px;
  margin: auto;
  padding: 12px;
  width: 70%;
}

.pageTitle strong {
  color: red;
}

footer {
  margin: 5px 15px 20px 15px;
  padding: 2px;
  padding-top: 3px;
  background: rgba(192,243,252,0.1);
  backdrop-filter: blur(3px);  
  border-radius: 14px;
  border-radius: 25px;
}

footer h4 {
  font-size: 20px;
  text-align: center;
}

.pill {
  background: rgba(0,200,250,0.3);
  border-radius: 14px;
  height: auto;
  text-align:center;
  margin: auto;
  width: 75%;
  padding: 15px;
  border:0px;

}

.nav-pill {
  font-size: 20px;
  font-weight: bold;
  color:blue;
  border:0px;
  background-color:transparent;
}

.nav-pill p {
  margin: -17px 0px 0px 0px;
  color:black;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: rgba(192,243,252,0.1);
}

/* Style the buttons inside the tab */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius:25px;
  font-weight:bold;
  margin: 0.1vw;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(220,220,210,0.5);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(200,200,200,0.5);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent h3 {
  background: rgba(200,223,102,0.5);
  backdrop-filter: blur(3px);  
  border-radius: 14px;
  border-radius: 25px;
  color: purple;
  text-align: center;
  border-radius: 25px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 12px;
}
.center {
  margin: auto;
  width: 33%;
  padding: 10px;
  text-align: center;
}
.centerV {
  vertical-align: center;
}

.tabBar {
  text-align: center;
  background: rgba(192, 243, 252, 0.55);
  backdrop-filter: blur(3px);
  overflow: hidden;
  border-radius: 14px;
  margin: auto;
  padding: 12px;
  width: 80%;
}

.gridBox{
  background: rgba(255,255,255,0.40);
  backdrop-filter: blur(3px);  
  border-radius: 25px;
  padding: 10px;
  overflow:hidden;
  color:black;
}

.gridBox img {
  border-radius:20px;
  width:100%;
}

.gridBox p{
  font-size:10px;
  padding: 0px 0px 0px 5px;
}

.gridBox b{
  padding-left:5px;
}

.contentGrid table,
.contentGrid td {
  border: 0.5vw solid transparent;
  width:100vw;
  right:8px;
  margin:-8px;
}

.contentGrid thead,
.contentGrid tfoot {
  background-color: #333;
  color: #fff;
}

